.background {
  background:  linear-gradient(to right,#CFE7F5,#92ccf4);
}

.container {
  background:  linear-gradient(to right,#CFE7F5,#92ccf4);
  height: 100% !important;
}

.card {
  border-radius: 10px !important;
  background-color: white !important;
}

.list-group-item {
  border-radius: 5px !important;
  color: black;
}
.header {
  margin-bottom: 20px;
}
